<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Coding Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        <h1 class="has-text-dark px-3 py-3 has-text-weight-bold">The Coding Blog</h1>
        <nav class="navbar mt-2 is-light is-transparent">
            {{#if loggedIn}}
            <a href="/" class="navbar-item pt-1">Home</a>
            <a href="/dashboard" class="navbar-item pt-1">Dashboard</a>
            <a href="/dashboard/create/" class="navbar-item pt-1 mr-4">Create Post</a>
            <button id="logout" class="button is-danger">logout</button>
            {{else}}
            <a href="/" class="button btn btn-light">Home </a>
            <a href="/login" class="button btn btn-info">login</a>
            {{/if}}
        </nav>
    </header>

    <main>
            {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
      <div class="row-is-full content has-text-centered">
    <p>
      <strong>Thanks for visiting!</strong>
    </p>
  </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>